<div class="container mt-4 d-flex justify-content-end"></div>
  <a href="/login" class="btn btn-danger mb-3">
    Back to login
  </a>
</div>

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="clearfix">
					<h4 class="pt-3">Forgot Password</h4>
					<p class="text-medium-emphasis">Please Input your Email address below and we will send a reset Email link.</p>
				</div>
				<form class="input-group" method="POST"><span class="input-group-text">
						<svg class="icon">
							<use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-envelope-letter"></use>
						</svg></span>
					<input class="form-control" id="prependedInput" size="16" type="email" name="email" placeholder="Email which the account was registered with" />
					<button class="btn btn-info" type="submit">Send Reset Link</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	document.title = "Forgot Password";
</script>