
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        
        <div class="container-fluid">
          <img class="header-brand" src="/images/icon.svg" width="118" height="46" alt="CoreUI Logo"/>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="#">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Explore</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Chats</a></li>
          </ul>
          <ul class="header-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                </svg></a></li>
          </ul>
          <ul class="header-nav ms-3">
            <a class="header-nav ms-3" href="/login"> <button type="button" class="btn btn-primary">Login</button> </a>
          
          </ul>
        </div>
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="intro">
            <h1 class="intro-title">Welcome to CMS</h1>
            <p class="intro-text">CMS is a management system that allows students to request actions by the department head through a web application.</p>
            <div class="intro-actions">
              <a class="btn btn-secondary btn-lg" href="/login">Login</a>
              <a class="btn btn-primary btn-lg" href="/register">Register</a>
            </div>  
          </div>
          <div class="features-cards-container row">
            <div class="col-md-4">
              <div class="card card-feature">
                <div class="card-body">
                  <div class="card-feature-icon">
                    <svg class="icon icon-lg">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-people"></use>
                    </svg>
                  </div>
                  <h3 class="card-feature-title">Change Sections</h3>
                  <p class="card-feature-text">Allows students to switch from one section of a course to another if space is available.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-feature">
                <div class="card-body">
                  <div class="card-feature-icon">
                    <svg class="icon icon-lg">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-book"></use>
                    </svg>
                  </div>
                  <h3 class="card-feature-title">Register for Courses</h3>
                  <p class="card-feature-text">Enables students to request enrollment in a full course, typically requiring approval or waitlisting.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-feature">
                <div class="card-body">
                  <div class="card-feature-icon">
                    <svg class="icon icon-lg">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-chat-bubble"></use>
                    </svg>
                  </div>
                  <h3 class="card-feature-title">Register for Capstone</h3>
                  <p class="card-feature-text">Allows students to enroll in the capstone course, which is a final-year project.</p>
                </div>
              </div>
              </div>

          </div>

      </div>
      <footer class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> © 2023 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
      </footer>
    </div>