<div class="container mt-4 d-flex justify-content-end"></div>
  <a href="/login" class="btn btn-danger mb-3">
    Back to login
  </a>
</div>

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mb-4 mx-4">
              <div class="card-body p-4">
                <h1>Reset Password</h1>
                <p class="text-medium-emphasis">Type your new password</p>
                <div class="message-error">
                    <p>{{ message }}</p>
                </div>
                <form action="/reset-password" method="POST">
                <input type="hidden" name="reset_key" value="{{ key }}"/>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" type="password" name="pass" placeholder="Password" required>
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" type="password" name="repeat_pass" placeholder="Repeat password" required>
                </div>
                <button class="btn btn-block btn-success" type="submit">Reset Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
	document.title = "Reset Password";
</script>